{% extends 'base.html' %}

{% block content %}
    <h3 dir="rtl" align="right">{{ book.name }}</h3>
    <small dir="rtl" align="right" >{{ book.publish_date|timesince }}</small><hr/>
    <p dir="rtl" align="right">{{ book.title|safe }}</p>
    <p dir="rtl" align="right">{{ book.auther|safe }}</p>

    <p dir="rtl" align="right">برچسب : <a href="/book-list/{{ book.tag.slug }}">#{{ book.tag.title }}</a></p>

    <p dir="rtl" align="right">{{ book.summary|safe }}</p>
    <p dir="rtl" align="right"> قیمت : {{ book.price|safe }}</p> 
    <img src = "{{book.photo.url}}"   width="300px" height="300px" dir="ltr" align="center">
    <form action="#" method="post" dir="rtl" align="right">
        {% csrf_token %}        
        <input class="btn btn-info" type="submit" value="اضافه کردن به سبد خرید">
    </form>
{% endblock %}

